<style type="text/css">

html {
    /* background: #0000; */
    zoom: 160%;
    background:#474848;
}

body {
    height: 100%;
    display: block;
    position: relative;
    background: #474848;
    text-align: left;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: hidden;
    top: 0; right: 0; bottom: 0; left: 0;
}

h1 {
    font-family: 'Sacramento', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-top: 5px; margin-bottom: 0px;
    text-align: left;
    font-weight: normal;
    color: #FBFBF9;
}

.com {
    color: #80C3EC;
    font-family: 'Comfortaa', cursive;
}

.author {
    color: #000000;
    text-shadow: 0px 0px 20px #ababab;
    font-style: italic;
    font-size: 34px;

    /* font-family: 'Corinthia', cursive; */
    /* font-family: 'Love Light', cursive; */
    /* font-family: 'Licorice', cursive; */
    /* font-family: 'Caveat', cursive; */
    font-family: 'Sacramento', cursive;

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;  /* Preferred icon size */
}


.floating {
    z-index: 1;
    position: relative;
    top: 20px;
    left: -5%;
    right: 0;
    padding: 0;
}


footer {
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 24px;
    background-color: black;
    color: white;
    text-align: center;
}

.footer {
    color: white;
    margin-right: 24px;
}

.mmngreco {
    font-family: 'Oooh Baby', cursive;
    font-size: 22px;
}


.material-icons-foot {
  font-family: 'Material Icons';
  font-size: 18px;  /* Preferred icon size */
  line-height: 1;
}

.button {
    transition-duration: 0.4s;
    background-color:#474848;
    color: black;
    border: 2px solid black;
}

.button:hover {
    background-color: black;
    color: white;
}

a:link {
    text-decoration: none;
}

</style>

