<style type="text/css">

html {
  background: #0000;
}

body {
    height: 100%;
    display:block;
    position:absolute;
    background:#474848;
    text-align:left;
    padding-top:10%;
    padding-left:10%;
    padding-right:10%;
    overflow-y: hidden;
    top: 0; right: 0; bottom: 0; left: 0;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:24px;
    margin-top: 5px; margin-bottom: 0px;
    text-align: left;
    font-weight: normal;
    color: #FBFBF9;
    text-shadow: 1px -3px 17px rgba(185, 183, 199, 0.94);
}

.com {
  color: #80C3EC;
}

.author {
  color: #000000;
  font-family: italic;
}



</style>
